<!DOCTYPE html>
<html>
<head>
    <title>Game Lobby Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="brand-statement">
            <p>Your Brand Statement here</p>
        </div>
        <div class="features">
            <div class="feature-card">Feature 1 Details</div>
            <div class="feature-card">Feature 2 Details</div>
            <div class="feature-card">Feature 3 Details</div>
        </div>
        <div class="extra-details">
            <svg id="foregroundGraphic" viewBox="0 0 100 100">
                <!-- SVG content goes here -->
            </svg>
            <p>Extra details and action items here.</p>
            <!-- <a href="{{ url_for('login') }}" class="btn-logout">Logout</a> -->
            <a href="{{ url_for('google_auth.login') }}"><button id="googleSignIn" >Login with Google</button></a>
            <button id="exploreButton">Explore</button>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
</body>
</html>
